.faq__container {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.faq__title {
  padding: 24px;
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;

  border-radius: 8px;
  background: var(--bg-white);
}
